
body {
	background-color: white;
	margin-top: 200px;
	margin-bottom: 200px;
<<<<<<< HEAD
	margin-right: 200px;
=======
	margin-right: 400px;
>>>>>>> 25aa51d4c647ebb71194e4f81acab6d7daaed7a7
	margin-left: 400px;
}

* {
	font-family: Georgia;
}

H4 {
	display: inline;
}
