
body {
	background-color: white;
}

.box {
  width: 550px;
  height: 350px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
}

.container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 10em;
}

* {
	font-family: helvetica;
}

H4 {
	display: inline;
}

.verticalLine {
    border-left: thick solid #909090;
}

<style>
a:link {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:blue; background-color:transparent; text-decoration:none}

img {
  width: 100%;
  max-width:600px;
  height: auto;
}
