
body {
	background-color: white;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-right: 200px;
	margin-left: 200px;
}

* {
	font-family: georgia;
}

H4 {
	display: inline;
}

.verticalLine {
    border-left: thick solid #909090;
}