
body {
	background-color: white;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-right: 300px;
	margin-left: 300px;
}

* {
	font-family: helvetica;
}

H4 {
	display: inline;
}

.verticalLine {
    border-left: thick solid #909090;
}

<style>
a:link {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:blue; background-color:transparent; text-decoration:none}

img {
  width: 100%;
  max-width:300px;
  height: auto;
}
